.main {
    background: #5D5C61;
    color: #EEE;
    margin: 2%;
    padding: 2%;
}
 
.events-container {
    display: flex;
    align-self: center;  
    justify-content: center;
    text-align: center;
    width: 100%;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0 5px;
    grid-auto-rows: 10px;
    width: 70%;
    border-right: 1px dashed #EEE;
}

.events img {
    filter: grayscale(70%);
    cursor: pointer;
}

.events img:hover {
    filter: grayscale(0%);
}

.sidebar {
    width: 30%;
    text-align: center;
}

.sidebar img {
    max-width: 90%;
    height: auto;
    padding-right: 2%; 
    text-align: center;
}
