* {
    padding: 0;
    margin: 0;
}

.textPrimary {
    color: #FFF;
}

.inherit {
    color: #BBB;
}

.center {
    display: flex;
    align-self: center;  
    justify-content: center;
    text-align: center;
    width: 100%;
}